
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cliente</title>
</head>
<body>
    <h2>Cliente</h2>
    <div>
        <p>@Model.cliId</p>
        <p>@Model.cliNome</p>
        <p>@Model.cliEnd</p>
        <p>@Model.cliNasc</p>
    </div>
</body>
</html>
